<div class="case-study-list-image">
    <img src="<%= entry.data.carousel_image_url %>" alt="">
</div>
<div class="overlay case-study-list">
    <h2 class="label"><%= entry.data.title %></h2>
    <h3>Based in <%= entry.data.location %></h3>
    <p class="description"><%= entry.data.description %></p>
    <a class="button" href="<%= url_for entry %>">View Case Study</a>
</div>