<header class="header">
    <div class="content">
        <div class="column column-12">
            <div class="nav-cover"></div>
            <a href="#" class="toggle-nav hide-desktop"><i class="icon icon-list"></i></a>
            <a href="/contact" class="contact-link"><i class="icon icon-mail hide-desktop"></i><!--<span class="hide-desktop">Contact</span>--></a>
            <a href="/index.html" class="logo">
                <h1>One Story Productions</h1>
            </a>
            <nav class="main-nav">
                <a href="/" class="hide-desktop <%= nav_active('') %>"><i class="icon icon-house"></i>Home</a>
                <a href="/projects" class="<%= nav_active('projects') %>"><i class="icon icon-video hide-desktop"></i>Projects</a>
                <a href="/case-studies" class="<%= nav_active('case-studies') %>"><i class="icon icon-bookmarks hide-desktop"></i>Case Studies</a>
                <a href="/about" class="<%= nav_active('about') %>"><i class="icon icon-info hide-desktop"></i>About</a>
                <a href="/contact"  class="<%= nav_active('contact') %> hide-mobile" style="float:right;"><i class="icon icon-mail hide-desktop"></i>Contact</a>
                <a href="/contact"  class="<%= nav_active('contact') %> hide-desktop"><i class="icon icon-mail hide-desktop"></i>Contact</a>
            </nav>
            <div class="nav-base"></div>
        </div>          
    </div>
</header>