---
title: About
images: 
  - /img/about/aaron_weiss_1.jpg
  - /img/about/aaron_weiss_2.jpg
  - /img/about/aaron_weiss_3.jpg
  - /img/about/aaron_weiss_4.jpg
  - /img/about/aaron_weiss_5.jpg
  - /img/about/aaron_weiss_6.jpg
---

    <section>
        <div class="content">
            <div class="column column-12 space-a">
                <h1 class="heading-a heading-major">OUR SERVICES</h1>
                <p class="large">Whether you’re a start-up looking to produce an animated video to showcase your product, or a global brand needing to produce a broadcast commercial, One Story Productions can handle everything you need from start to finish.</p>                
            </div>
            <div class="column column-12 text-center">
                <ul class="services_list">
                    <li><a href="#">Service 1</a></li>
                    <li><a href="#">Service 4</a></li>
                    <li><a href="#">Service 7</a></li>
                    <li><a href="#">Service 10</a></li>
                </ul>
                <ul class="services_list">
                    <li><a href="#">Service 2</a></li>
                    <li><a href="#">Service 5</a></li>
                    <li><a href="#">Service 8</a></li>
                    <li><a href="#">Service 11</a></li>
                </ul>
                <ul class="services_list">
                    <li><a href="#">Service 3</a></li>
                    <li><a href="#">Service 6</a></li>
                    <li><a href="#">Service 9</a></li>
                    <li><a href="#">Service 12</a></li>
                </ul>
            </div>
        </div>
        
        <div class="content">
            <div class="column column-12 space-a">
                <h1 class="heading-a heading-major">About</h1>
                <p class="large">One Story Productions partners with non-profits and businesses to tell the story behind their missions.</p>
                <p></p>
                
            </div>
            <div class="column column-5">
                <p>Recognizing that non-profits, foundations and companies have a need to demonstrate  their work’s vital role in the community, One Story Productions launched in 2007. 
For each client we create a unique brand development plan. First we sit down together. We document goals and expectations based on an understanding of what’s important and how a brand film can best fit within larger marketing / brand strategy. </p>
                <p>Through collaboration, we create visual voices that tell real stories. 
Production services can span from a one-man crew to a 10-person production. Post-production is detailed and unique—this is where the story takes shape, so we work with clients until they love the final products. 
</p>
            </div>
            <% if current_page.data['images'] %>

              <% current_page.data['images'].each do |url| %>
                <div class="column column-2 space-c image-grid image-space">
                    <a href="<%= url %>" class="fancybox" data-fancybox-group="gallery" title="<%= url %>"><img class="full-width" src="<%= url %>" width="140" height="100" alt=""></a>
                </div>
              <% end %>
            <% end %>
        </div>
        
    </section>
    <hr class="space-a hide-mobile">
    <section>
        <div class="content">
            <div class="column column-7 nest-container space-a">
                <div class="column column-7">
                    <h2 class="heading-b heading-minor hide-mobile">About Aaron</h2>
                    <h2 class="heading-a heading-major hide-desktop">About Aaron</h2>
                </div>
                <div class="column column-2">
                    <div class="team text-center">
                        <img class="avatar" src="/img/team-aaron.png" width="100" height="100" alt="">
                        <div class="text name">Aaron Weiss</div>
                        <div class="text role">Founder, Principal</div>
                    </div>
                </div>
                <div class="column column-5">
                    <p>Aaron is the founder and principal at One Story Productions. He has worked with over 100 organizations to tell their authentic story through the production of films. His passion for cause-related films has taken him around the world to reveal stories that need to be experienced.</p>  
                    
<p>In 2007 on a trip to capture the story of an Arts Conservatory in India, Aaron recognized that nonprofit organizations stand up for people who don’t have a voice. It’s his belief that these organizations create awareness, innovation and change and have an empowering story that deserves to be told. Documentary filmmaking plays a very similar role as nonprofits as these nonprofits and change is possible. </p>
                    
<p>Aaron actively builds the One Story Production’s community involvement through speaking roles and as a freelance director. Aaron takes on many roles, working with agencies and consulting. As an expert in the field, he shows organizations the value of telling stories through this medium. </p>
                    
                    <p><a href="info@onestoryproductions.com">Contact Aaron for speaking and consulting opportunities</a>.</p>
                    
                    <hr/>
                </div>
                
                <div class="column column-2">
                    
                    <div class="team text-center">
                        <img class="avatar" src="/img/team-luke.png" width="100" height="100" alt="">
                        <div class="text name">Luke Lashley</div>
                        <div class="text role">Line Producer</div>
                    </div>
                </div>
                
                <div class="column column-5">
<p>Luke fell in love with movies as a young child when he watched Star Wars Return of The Jedi at least 400 times. Later in life Luke found his passion for entrepreneurship when he opened his first film production company as a teenager. He is currently pursuing a Finance degree at the McCoy School of Business at Texas State University. For Luke, One Story Productions is an invaluable creative outlet that allows him to hone his skill as a storyteller, practice the craft of entrepreneurship, and impact people on a personal level.</p>  
                </div>
            </div>
            <div class="column column-4 column-right space-b">
                <div class="testimonial-container">
                    <h2 class="heading-b heading-minor heading-inline">Testimonials</h2>
                    <a href="/testimonials" class="text">All Testimonials ›</a>
                    <%= partial :testimonials_short %>
                </div>
            </div>
        </div>
    </section>
<hr class="space-a hide-mobile">
<section class="space-a">
  <%= partial :clients %>
</section>